body{
  font-family: 'Merriweather', serif;
}

.header-color {
  background:red;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, black, #fd1d1d, #833ab4);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, black, #27221F, #27221F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Merriweather', serif;
}

/*.hamb{
  visibility: hidden;
}*/


.landing-grid {
  background:  url("./components/fondo3.jpg") no-repeat center center fixed ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-family: 'Merriweather', serif;
}




.projects-grid {
  display: flex;
  font-family: 'Merriweather', serif;
}

/* Resume Page css */
.resume-right-col {
  background: #27221F;
  color: white;
  padding: 2em;
  font-family: 'Merriweather', serif;
}

/* contact page css */

.contact-body {
  margin: auto;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
  font-family: 'Merriweather', serif;
}

.contact-grid {
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 550px;
  background: white;
  color: black;
  margin-bottom: 20px;
  font-family: 'Merriweather', serif;
}

.contact-grid h2 {
  font-family: 'Merriweather', serif;
}

.contact-grid p {
  
  font-weight: bold;
  
}

.contact-grid hr {
  border-top: 5px dotted black;
  width: 50%;
  margin: auto;
  
}

.contact-list i {
  font-size: 66px;
  padding-right: 5rem;
  
}

.contact-body{
  font-family: 'Merriweather', serif;
}

/* contact page css */

.avatar-img {
  height: 300px;
  padding-top: 5em;
  -webkit-border-radius: 50px;
-moz-border-radius: 50px;
border-radius: 50px;
font-family: 'Merriweather', serif;
  
}

.web-img{
  height: 150px
}

.banner-text {
  background-color: black;
  opacity: .8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
  font-family: 'Merriweather', serif;
}

.banner-text h1  {
  font-size: 60px;
  font-weight: bold;
  color: white;
  font-family: 'Merriweather', serif;
}

.banner-text h2  {
  font-size: 40px;
  font-weight: bold;
  color: white;
  font-family: 'Merriweather', serif;
}

.banner-text hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
  font-family: 'Merriweather', serif;
}

.banner-text p {
  color: white;
  font-size: 20px;
  padding: 1em;
  font-family: 'Merriweather', serif;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.social-links i {
  color: white;
  font-size: 5em;
  padding: 8px;
}

a{
  text-decoration: none;
  font-family: 'Merriweather', serif;
}


@media screen and (min-width: 1028px)  {
    .material-icons {
      
     visibility: hidden
     ;
    }
  }

  @media screen and (max-width: 1028px)  {
    .letraemail {
      
     font-size: 1px;
     ;
    }
  }

.letra{
  font-family: 'Merriweather', serif;
  
}
